strong, b {
	font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
}

p {
	font-family: Helvetica;
}


.headerstuff{
	width: 1000px;
	height: 220px;
	/*background-color: #606060;*/
	margin: 0 auto;
}

.headerstuff div, .headerstuff table {
	display: inline;
}

.headerstuffdiv {
	float: right;
}

.activepage h2{
	font-weight: 900; 
	padding-top: 10px;
	font-size: 16px;
	font-family: Calibri;
	text-align: center;
	color: #FFC800;
}


.inactivepage:hover
{
	background-color:#FFC800;
	cursor:pointer;
}

.inactivepage h2
{
	padding-top: 10px;
	font-size: 14px;
	font-family: Calibri;
	font-weight: 600;
	text-align: center;
	color: black;

}

#MpoweredLogo
{
	width:300px;

}
#KenyaLogo
{
	height: 220px;
}
